h1 {
  text-align: center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  color: red;
  list-style: none;
  margin-right: 5px;
}

.section-container {
  border: 2px solid lightblue;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px 10px;
}
